<% layout("/layout/boilerplate")%>
<body>
   <div class="row mt-3">
      <div class="col-8 offset-2"><br/>
   <form action="/listings/<%=listing._id%>?_method=PATCH" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
      <h3>Editing</h3>
      <br/>
      <div class="mb-4">   
         <label for="title" class="form-label">Title:</label>
         <input type="text" name="title" class="form-control" value="<%= listing.title %>" required>
         <div class="valid-feedback">Title looks good!</div>
         <div class="invalid-feedback">Please provide a title.</div>
      </div>
      <div class="mb-4">
            <label for="description" class="form-label">Description:</label><br/>
            <textarea  name="description" rows="5" cols="35" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Description should contain atleast 20 words.</div>
      </div>
      <div class="mb-3">
         original Image:<br/>
         <img src="<%= originalImage %>" />
       
      </div>  
      <div class="mb-4">
         <label for="image" class="form-label">Upload Image :</label>
         <input type="file" name= "image" class="form-control" >
       
      </div>
      <div class="row">
         <div class="mb-4 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input type="number" name="price" class="form-control" value="<%= listing.price %>" required>
            <div class="invalid-feedback">Please provide a valid price.</div>
         </div>
         <div class="mb-4 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input type="text" name="country" class="form-control" value="<%= listing.country %>" required>
            <div class="invalid-feedback">Please provide a country.</div>
         </div>
      </div>
      <div class="mb-4">
         <label for="category" class="form-label">Category:</label>
         <select name="category" class="form-select" required>
           <option value="" disabled >Select a category</option>
           <option value="Iconic cities" <%= listing.category === "Iconic cities" ? "selected" : "" %>>Iconic Cities</option>
           <option value="Beach" <%= listing.category === "Beach" ? "selected" : "" %>>Beach</option>
           <option value="Mountain" <%= listing.category === "Mountain" ? "selected" : "" %>>Mountain</option>
           <option value="Farms" <%= listing.category === "Farms" ? "selected" : "" %>>Farms</option>
           <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
           <option value="Family house" <%= listing.category === "Family house" ? "selected" : "" %>>Family House</option>
           <option value="Castle" <%= listing.category === "Castle" ? "selected" : "" %>>Castle</option>
           <option value="Artic" <%= listing.category === "Artic" ? "selected" : "" %>>Artic</option>
           <option value="Amusement parks" <%= listing.category === "Amusement parks" ? "selected" : "" %>>Amusement Parks</option>
           <option value="Historical" <%= listing.category === "Historical" ? "selected" : "" %>>Historical</option>
           <option value="Other" <%= listing.category === "Other" ? "selected" : "" %>>Other</option>
         </select>
         <div class="invalid-feedback">Please select a category.</div>
       </div>

       <div class="mb-4">
         <label for="location" class="form-label">Location:</label>
         <input type="text" name="location" class="form-control" value="<%= listing.location %>" required>
         <div class="invalid-feedback">Please provide a location.</div>
      </div>


      <button class="btn btn-dark edit-btn  mt-3 mb-5">Update </button>
   </form>
      </div>
   </div>
   
</body>
