<% layout("/layout/boilerplate")%>
<style>
    
</style>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const coordinate = <%- JSON.stringify(listing.geometry.coordinates) %>;
    
</script>
<div class="row mt-3">
    <div class="col-8 offset-3">
         <h3> <b><%= listing.title %></b> </h3><br/>
    </div>
    <div class="card col-5 offset-3  show-card listing-card">
        <img 
        src="<%= listing.image.url %>" 
        class="card-img-top show-img" 
        alt="listing_img"
        />
        <div class="card-body">
            <p class="card-text">Owned by: <i><%= listing.owner ? listing.owner.username : "N/A" %></i></p>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text">
                &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %></p>
            <p class="card-text"><%= listing.location %>,<%= listing.country %></p>
               
            
        </div>
    </div>
    <% if(currUser && listing.owner && currUser._id.equals(listing.owner._id)) { %>
    <div class="btn d-flex  justify-content-center gap-2 mt-3 mb-5">
        <form method="GET" action="/listings/<%= listing._id%>/edit" >
            <button class="btn btn-dark edit-btn mt-3">Edit</button>
        </form>
         
        <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
            <button class="btn btn-dark delete-btn mt-3">Delete</button>
        </form>
   </div>
   <%} %>

   
   <div class="col-8 offset-3">
        <hr>
        <% if(currUser){ %>  
        <h3>Leave a Review</h3>
        <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation" >
            <div class="mt-2">
                <label for = "rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mt-2 ">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a comment.</div>
            </div>
            <button class="btn btn-outline-dark mt-3 mb-3">Submit Review</button>
        </form>
        <% } %>
    <hr/>
   
   
        <% if(listing.reviews.length > 0) { %>
        <div class="row">
            <p><b>All Reviews</b></p> 
            <% for (review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">

                    <h5 class="card-title"><%= review.author.username %></h5>
                    <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                    <p class="card-text"><%= review.comment %></p>
                    <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST" class="mb-3" >
                        <button class="btn  btn-sm ">Delete</button>
                    </form>
                </div>
            </div>    

            <% } %>  
        </div>
        <% } %>
    </div>
    <div class="col-8 offset-3 mb-5">
        <h3>Location: </h3>
        <div id="map" ></div>
    </div> 
</div>



<script src="/js/map.js"></script>



